.card-bass {
  padding-bottom : 16px;
  height: 360px;
  width: 280px;
  border: solid 1px grey;
  border-radius : 4px;
  display: flex;
  flex-direction: column;
  justify-content : flex-end;
  text-align: center;
}


.card-product {
  // overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 8px;
}


.card-product .card-link {
  background-color: rgba(0,0,0,0.1);
  padding: 48px 4px;
  font-weight: bold;
  text-align: right;
}
